name: CI
on:
  pull_request:
  push:
    branches:
      - master

env:
  # These dummy credentials are necessary for running tests against
  # localstack s3 service
  AWS_ACCESS_KEY_ID: foo
  AWS_SECRET_ACCESS_KEY: bar
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go_version:
          - '1.22'
          - '1.23'
          - '1.24'
          - '1.25'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go_version }}
      - name: Go vet
        run: go vet ./...
      - name: Test
        run: |
          # Start mock s3 service
          make s3-bg
          while ! curl http://localhost:4572; do sleep 1; done
          sleep 5
          # Set up fixture S3 files
          make fixture
          make cover # run test with coverage
        env:
          AWS_REGION: ap-northeast-1 # for awscli
      - uses: codecov/codecov-action@v5
        with:
          file: ./cover.out
          token: ${{ secrets.CODECOV_TOKEN }}
